@import "./../../scssVariables";
.contentWrapper{
  height: 98.85%;
  max-width: 430px;
  padding: 50px 0 0;
  margin: 0 auto;
}
.card{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.cardImageWrapper{
  padding: 10px;
  text-align: center;
}
.cardImage{
  height: 170px;
  width: 100%;
  margin: 0 auto;
  object-fit: contain;
  background-color: $gray;
}
.cardContent{
  min-height: 150px;
  flex: 1 1 auto;
  overflow: auto;
  background-color: $gray;
}
.buttonRefresh{
  position: absolute;
  right: 15px;
  bottom: 15px;
}