@import "./../../scssVariables";
.header{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.headerLogo{
  font-family: 'Pacifico', cursive;
  color: $orangeColor;
}